/* Tiny Carousel */
#slider8 {
    height: 1%;
    margin: 15px 5px 0px 0px;
    overflow: hidden;
    position: relative;
    padding: 0 40px 0px;
}

#slider8 .viewport {
    height: 292px; /*Changes the bottom padding of the carousel row*/
    overflow: hidden;
    position: relative;
}

#slider8 .buttons {
    background: none;
    border-radius: 35px;
    display: block;
    position: absolute;
    top: 40%; /*Left Toggle*/
    left: 0;
    width: 35px;
    height: 35px;
    color: #001c3d;
    font-weight:900;
    text-align: center;
    text-decoration: none;
    font-size: 22px;

}

#slider8 .next {
    right: 0;
    left: auto;
    top: 40%; /*Right Toggle*/

}

#slider8 .buttons:hover {
    color: #4c82be;
    background: none;
}

#slider8 .disable {
    visibility: hidden;
}

#slider8 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

#slider8 .overview li {
    float: left;
    margin: 15px 0px 0 -4px; /*Top, Right, Bottom, Left spacing of images
    Last on input is for (spaces in between)*/
    padding: 2px; /*Add left padding to balance out the sides*/
    width: 225px; /*Change size to match picture size on HTML*/
    margin-bottom:0px;
 }

/*Removes Blue Outline from Search box*/
input:focus {
    outline:none;
}
